body{
    background-color: rgb(240, 220, 220);
    padding: 0;
    margin: 0;
}

main{
    margin-left: 17%;
    margin-right: 17%;
}

.nav-link-wrapper{
    display: flex;
    font-family: sans-serif;
    background-color: rgb(139, 103, 103);
}

.title{
    color: rgb(230, 208, 208);
    padding-left: 10%;
}

.title h1{
    font-weight: lighter;
    padding: 8px;
}

.add-pizza{
    padding-left: 50%;
}

.add-pizza h1{
    font-weight: lighter;
    background-color: rgb(67, 139, 139);
    color: rgb(230, 208, 208);
    padding: 8px;
    border-radius: 5px;
}

.add-pizza h1:hover{
    background-color: #af6969;
    transition: 0.3s;
}

.add-pizza a{
    text-decoration: none;
}

.copy{
    text-align: center;
    font-family: sans-serif;
    color: rgb(129, 115, 115);
}

.form-wrapper{
    width: 50%; 
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    
}

.form-header h1{
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    color: rgb(156, 194, 179);
}

.add-form{
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #adadad;
    
}

.add-form input{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    border: none;
    border-bottom: 2px solid #adadad;
    outline: none;
}


.submit{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 14px;
    color: rgb(230, 208, 208);
}

.submit input{
    background-color: rgb(67, 139, 139);
}

.submit input:hover{
    background-color: #af6969;
    transition: 0.3s;
}

.red-text {
    color: red;
}

.card-wrapper{
    /* text-align: center; */
    /* width: 30%; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card{
    background-color: beige;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.25);
    transition: 0.5s;
}

.card p{
    text-align: center;
    
}

.card h1{
    font-family: sans-serif;
    font-weight: lighter;
    color: #6b6868;
    text-align: center;
}

.card p{
    list-style: none;
    font-family: sans-serif;
}


.delete .del{
    color: aliceblue;
    background-color: rgb(67, 139, 139);
    border-radius: 4px;
    border: none;
    padding: 10px;
}

.delete .del:hover{
    background-color: #af6969;
    transition: 0.4s;
}

.more{
    text-decoration: none;
    color: rgb(185, 124, 124);
    font-family: sans-serif;
}

.more:hover{
    color: red;
    transition: 0.5s;
}


.more-info{
    background-color: beige;
    text-align: center;
    font-family: sans-serif;
    color: #6b6868;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.more-info h1{
    font-weight: lighter;
    font-family: sans-serif;
}

.else-class{
    font-family: sans-serif;
    font-weight: lighter;
    color: #6b6868;
}

.pizzas-head{
    font-family: sans-serif;
    font-weight: lighter;
    color: #6b6868;
    text-align: center;
}

.counter h1{
    text-align: center;
    font-weight: lighter;
    font-family: sans-serif;
    color: #6b6868;
}